// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright 2022 Technexion Ltd.
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/k3.h>

/ {
	fragment@101 {
		target-path = "/";

		__overlay__ {
			model = "TechNexion ROVY-AM68 and EVM baseboard with Vizionpanel 10.1 inch LVDS panel";

		};
	};
};

&main_i2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	fpdlink_dsi2lvds: ds90ub948@0c {
		compatible = "ti,ds90ub94x";
		reg = <0x0c>;
		status = "okay";
	};
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@2 {
		reg = <2>;

		dpi1_out: endpoint {
			remote-endpoint = <&dsi0_in>;
		};
	};
};

&dsi0 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			dsi0_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};

		port@1 {
			reg = <1>;
			dsi0_in: endpoint {
				remote-endpoint = <&dpi1_out>;
			};
		};
	};

	panel@0 {
		compatible = "tn,vizionpanel";
		reg = <0>;
		status = "okay";

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dphy2 {
	assigned-clocks = <&k3_clks 296 3>;
	assigned-clock-parents = <&k3_clks 296 4>;
	assigned-clock-rates = <19200000>;
};
